<h1>American BBQ</h1>
<h2>About</h2>
<p>American BBQ was created by the FDA in the 1920’s to celebrate postwar enthusiasm for saucy meats and to help replenish a national void left from the massive casualties suffered by traditional BBQs during the great war.<br/><br/>

Touted for its unparalleled flavor, vilified for its coronary malfeasance, American BBQ sought to redefine itself by studying German Efficiency at Carleton College in the 1960s.  It moved to California in the 70s and took graduate classes at UCLA before starting the now famous Guilt Free food movement. <br/></br/>

Feeling increasingly marginalized by more exotic BBQs, American BBQ released a tell-all memoir called “No Kimchi!” in 1987, extolling itself as the nation’s leading cause of obesity and gastrointestinal vexation.  ABBQ sang tenor for the massively popular boy band “Ellen DegeneSWAG” who had a number one hit in the late 90s with “Can I Dang On That Meat?”. <br/></br/>

Now residing in the San Francisco Bay Area, American BBQ hopes to one day become an Enesco world heritage site and a major world religion.  ABBQ is a leading player in the race to create the first 100% Angus beef protein suppository and in its spare time plays “ultimate” frisbee.  </p>
