{% extends 'base.html' %}
{% block content %}
<h2>2012 Roster</h2>
    <ul>
      <li>Caroline 'Cloh' Loh</li>
      <li>Mike 'Diesel' Weil</li>
      <li>Sandy Park</li>
      <li>Molica Anderson</li>
      <li>Nicole 'Nibs' Belle Isle</li>
      <li>Bini Lee</li>
      <li>Mike 'Prof' McGuirk</li>
      <li>Kevin 'Bishop' Manss</li>
      <li>Karen Ng</li>
      <li>Noel Arsenault</li>
      <li>Steven Chang, Sr.</li>
      <li>Nicole Wires</li>
      <li>Andrew Hooker</li>
      <li>James  Sheridan</li>
      <li>Jason Seidler</li>
      <li>Mia Smucny</li>
      <li>Doris Lin</li>
      <li>Nick 'Tiny' Auger</li>
      <li>Sarah Carnahan</li>
      <li>Brandon Kwock</li>
      <li>Andy Fisher</li>
      <li>Damian Park</li>
      <li>Dan Parker</li>
      <li>Jack Moxon</li>

    </ul>
  </div>
{% endblock content %}
</body>
